@mixin link($hover-color) {
  text-decoration: none;
  color: white;
  &:hover {
    color: $hover-color;
  }
}

@mixin navList($height, $dark-theme) {
  height: $height;
  width: 100%;
  list-style: none;
  color: black;
  padding: 0;
  margin: 0;

  @if $dark-theme {
    color: white;
  }
}
