@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/fonts';

.add_expenditure_form {
  height: 100%;
}

.add_expenditure_form_input {
  background-color: #f2f2f2;
  border: 2px solid #cfcfcf;
  outline: none;
  min-width: 300px;
  width: 50%;

  &:focus {
    border: 2px solid #a6a6a6;
  }
}
