@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/fonts';

.add_button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 50;
  font-size: 1.1rem;
}

.add_button_icon {
  path {
    transition: all 0.1s ease;
    transform-origin: center;
  }
}

.add_button_icon_rotate {
  path {
    transform: rotate(45deg);
  }
}

.add_button_icon_no_rotate {
  path {
    transform: rotate(0deg);
  }
}
