@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/fonts';

.event_navbar_container {
  height: 50px;
  background-color: #e6e6e6;
}

.event_navbar {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.event_navbar_item {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.event_navbar_state {
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar_expanded {
  position: absolute;
  z-index: 50;
  width: 100%;
  background-color: #e6e6e6;
  transform-origin: top;
  transition: all 0.1s ease-in-out;
  padding-right: 60px;
}

.navbar_expanded_open {
  transform: scaleY(1);
}

.navbar_expanded_close {
  transform: scaleY(0);
}

.hidden_menu_item {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 5px;

  a {
    min-width: 200px;
  }
}
