@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/fonts';

.project_name {
  font-size: 2rem;
  font-family: 'Chango', sans-serif;
}

.spinner {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-top: 10px solid $spin-dark;
  border-right: 10px solid $spin-light;
  border-left: 10px solid $spin-light;
  border-bottom: 10px solid $spin-light;

  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner_text {
  margin-top: 15px;
  font-size: 1.2rem;
}

.inline_spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-top: 5px solid black;
  border-right: 5px solid rgba(black, 0.4);
  border-left: 5px solid rgba(black, 0.4);
  border-bottom: 5px solid rgba(black, 0.4);

  animation: spin 0.5s linear infinite;
}
