@import 'sass/mixins';
@import 'sass/variables';
@import 'sass/fonts';

.project_name {
  font-family: 'Chango', sans-serif;
  font-size: 3rem;
}

.project_slogan {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
