@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/fonts';

.navbar_container {
  height: 55px;
  font-family: 'Ubuntu';
  padding: 0;
}

.navbar_list {
  @include navList(55px, true);
}

.navbar_list_hamburger_container {
  height: 55px;
  width: 80px;
}

.navbar_hamburger_button {
  height: 45px;
  width: 45px;
  background: transparent;
  border: 0;
  outline: 0;
}

.navbar_brand {
  font-size: 1.2rem;
  font-family: 'Chango', sans-serif;
  @include link(white);
}
