@import '../../sass/mixins';
@import '../../sass/variables';
@import '../../sass/fonts';

.add_event_form {
  width: 100%;
  min-height: 100%;
  transform-origin: right;
  background: #35dc9b;
  transition: all 0.2s ease-in-out;
  padding: 20px;

  input,
  textarea {
    width: 300px;
  }

  textarea {
    height: 50px;
  }
}

.invalid_input {
  background-color: $invalid_input;
}

.open {
  transform: scaleX(1);
}

.close {
  transform: scaleX(0);
}
