[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
firebase-admin = "*"
django-cors-headers = "*"
google-auth = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
